/* Imposta il colore di sfondo per tutto il body (tutta la schermata dell'app) */
body {
  background-color: #943126;
}

/* Personalizza il colore di sfondo della barra superiore */
.mdl-layout__header {
  background-color: #F1C40F;
}

/* Cambia il colore del testo nella barra superiore a bianco */
.mdl-layout-title {
  color: #196F3D;
  font-weight: bold;
}

/* Cambia il colore del testo "Condividi i tuoi momenti nel bosco!" a verde */
.mdl-color-text--primary {
  color: #FFFFFF  !important; 
}

/* Regola CSS per il testo centrato */
.text-center {
  text-align: center;
}

/* Regola CSS per l'opzione del menu laterale */
.drawer-option {
  padding: 16px;
}

/* Cambia il colore dell'icona del menu hamburger a rosso */
.mdl-layout__drawer-button .material-icons {
  color: #196F3D !important;
}

/* Aggiungi una regola CSS per il pulsante specificando l'ID */
#share-image-button {
  background-color: #c72715; /* Cambia il colore di sfondo del pulsante a un rosso più scuro */
  color: #fff; /* Cambia il colore del testo del pulsante a bianco */
}

/* Puoi anche cambiare il colore dell'icona all'interno del pulsante */
#share-image-button i {
  color: #fff; /* Cambia il colore dell'icona a bianco */
}

/* Aggiungi una regola CSS per il pulsante specificando l'ID */
#post-btn {
  background-color: #c72715; /* Cambia il colore di sfondo del pulsante a un rosso più scuro */
  color: #fff; /* Cambia il colore del testo del pulsante a bianco */
}

/* Puoi anche cambiare altri stili del pulsante, ad esempio il colore del testo al passaggio del mouse */
#post-btn:hover {
  background-color: #a10f0f; /* Cambia il colore di sfondo del pulsante al passaggio del mouse */
}

/* Aggiunge un bordo intorno alle lettere del titolo h5 */
.page-content h5 {
  color: #196F3D; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
  text-shadow:
    -1px -1px 0 #196F3D,
    1px -1px 0 #196F3D,
    -1px 1px 0 #196F3D,
    1px 1px 0 #196F3D;
}

.enable-notifications {
  background-color: #c72715 !important; /* Cambia il colore di sfondo del pulsante a un rosso più scuro */
  color: #fff; /* Cambia il colore del testo del pulsante a bianco */
  border: 3px solid #196F3D; /* Aggiunge un bordino di colore #196F3D */
}

.mdl-layout__drawer {
  background-color: #F1C40F; /* Cambia il colore di sfondo del menu laterale a giallo */
}

/* Rendere tutte le scritte  del menù in grassetto */
.mdl-layout-title, .mdl-navigation__link{
  font-weight: bold;
  color: #196F3D !important;
}

.white-text {
  color: white;
}

/* CSS per il posizionamento del logo */
/* ... Il resto delle regole CSS rimane invariato ... */

.logo-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.app-logo {
  margin-bottom: 20px; /* Aggiungi una spaziatura inferiore per separare il logo dal testo sopra */
}


