.mdl-layout__header {
  background-color: #F1C40F;
}

.mdl-layout-title {
  color: #196F3D !important; /* Cambia il colore del testo in bianco */
  font-weight: bold; /* Rendi il testo in grassetto */
  }
  
.mdl-layout__drawer-button {
  color: #196F3D !important; /* Cambia il colore delle tre lineette in bianco */
  }
  
body {
  background-color: #943126 !important; /* Cambia il colore di sfondo dell'intera schermata */
  }
  
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

.mdl-button {
  margin: 10px;
  }
    
.mdl-button {
  margin: 10px;
  }
    
.mdl-layout .mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.custom {
  background-color: #c72715 !important;
  }
    
body {
  background-color: #943126;
  }

.mdl-layout__header {
  background-color: #F1C40F;
  }

.mdl-layout-title {
  color: #196F3D;
  font-weight: bold;
  }
    
/* Imposta il colore del testo in bianco */
  .mdl-layout__content * {
  color: #ffffff;
  }

.mdl-layout__drawer-button .material-icons {
  color: #196F3D !important;
  }
    
/* Aggiunge il bordo al pulsante custom */
.custom {
  border: 2px solid #196F3D;
  }
      
.mdl-layout__drawer {
  background-color: #F1C40F; /* Cambia il colore di sfondo del menu laterale a giallo */
  }
    
.enable-notifications {
  background-color: #c72715 !important; /* Cambia il colore di sfondo del pulsante a un rosso più scuro */
  color: #fff; /* Cambia il colore del testo del pulsante a bianco */
  border: 3px solid #196F3D; /* Aggiunge un bordino di colore #196F3D */
  }
    
    
/* Aggiunge il bordo intorno alle lettere del titolo h3 */
.mdl-cell.mdl-cell--12-col.text-center h3 {
  color: #196F3D; /* Colore del testo */
  font-weight: bold; /* Testo in grassetto */
  text-shadow: -1px -1px 0 #196F3D, 1px -1px 0 #196F3D, -1px 1px 0 #196F3D, 1px 1px 0 #196F3D;
  }
    
/* Rendere tutte le scritte  del menù in grassetto */
.mdl-layout-title, .mdl-navigation__link{
  font-weight: bold;
  color: #196F3D !important;
  }

.news-description {
  margin-top: 20px; /* Aggiungi un margine superiore per separare il paragrafo dall'intestazione */
  }
  
.shared-moment-card .mdl-card__supporting-text {
  text-align: center;
  background-color: #F1C40F;
  color: #196F3D;
  font-weight: bold;
  border-bottom: 5px solid #F1C40F; /* Applica il bordo solo nella parte inferiore */
  border-left: none; /* Rimuovi il bordo sinistro */
}

.mdl-card__supporting-text {
  text-align: center;
  background-color: #F1C40F;
  color: #196F3D; /* Imposta il colore del testo a verde */
  border-left: 5px solid #F1C40F; /* Aggiungi un bordo a sinistra con lo stesso colore dello sfondo */
  font-weight: bold; /* Imposta il testo in grassetto */
}

  
